
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-header {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-paragraph {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.inter-paragraph-2{
    font-weight: bold;
}
body{
    max-width: 1140px;
    margin: auto;
}
.navber-1{
    display: flex;
    justify-content: space-between;
}
.list-item{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
}

.primary-margin{
    margin: 40px 150px;
}

.primary-color{
    color: #8987A1;
}
.color-header{
    color: #E95A08;
}
.header-font{
    font-weight: bold;
    font-size: 55px;
    padding bottom: 4px;

}
.Plants{
    text-align: center;
}
.header-font-2{
    font-weight: bold;
    font-size: 40px;
}
.btn-primary{
    background-color: #E95A08;
    padding: 20px 90px;
    color: white;
    border: none;
}
.imge-item{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
}
.section-4{
    gap: 40px;
    padding: 70px;
}
.trusted-badge{
    align-items: center;
    height: 150px;
    width: 150px;
}

.shop{
    color: white;
   
}
.shop-2{
    padding: 30px 30px 30px 30px;
}
.shop-item{
      background-image: url(../assets/deal-bloom.png);
      width: 360px;
      height: 260px;
      background-repeat: no-repeat;
      border-radius: 10px ;
      border: none;
}
.shop-item{
    text-align: center;
}
.section-6{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    
    gap: 10px;
   
}
.shop-item-3{
    background-image: url(../assets/deal-ana.png);
    width: 360px;
      height: 260px;
      background-repeat: no-repeat;
      border-radius: 10px ;
      border: none;
}
.shop-item-2{
     background-image: url(../assets/deal-zabo.png);
    width: 360px;
      background-repeat: no-repeat;
      border-radius: 10px ;
      border: none;
      grid-row: span 2;
}
.section-7{
    align-items: center;
    
    
}
input{
    padding: 18px 160px;
}
.input-item{
    background-image: url(../assets/news-letter-bg.png);
    width: 100%;
    height: 433px;
    align-items: center;
}

footer{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    margin: 60px;
    gap: 20px;
}
.trusted-badge{
   position: absolute;
  
}
.badge-2{
    margin-left: -100px;
    margin-top: -40px;
}
.input-button-2{
    display: flex !important;
    justify-content: center ;
    
}

/* responsive for small device */
@media screen and (max-width: 576px){
    body{
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .imagr-item{
        display: none;
    }
    .section-1 ,.section-2 ,.section-3 , .imge-item , .section-4 ,.section-5 , .section-6 , footer{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
    }
    .trusted-badge{
        display: none;
    }
    .header-font{
        font-size: 30px;
    }
    
}

